<link rel="stylesheet" href="/css/lawyers.css">

<div class="title">
    <p>Nuestro Equipo</p>
    <h2>Profesionales en leyes</h2>
</div>

{{#if lawyers}}
<div class="lawyers">
    {{#each lawyers}}
    <div class="lawyer" onclick="window.location.href='/abogados/{{this._id}}'">
        <img src="{{this.photo}}" alt="{{this.name}}">
        <div class="caption">
            <img src="/assets/img/program-icon-3.png" alt="icono">
            <p>{{this.name}}</p>
        </div>
    </div>
    {{/each}}
</div>
{{else}}
<p class="message-error" role="alert">{{message}}</p>
{{/if}}